# 1. Ignorar absolutamente todo en la carpeta
/*

# 2. Excepciones: Permitir SOLO la lista de la Actividad 3
!/bin/
!/config/
!/plugins/
!/resources/
!/src/
!/templates/
!/tests/
!/webroot/
!composer.json
!composer.lock
!.gitignore